<html>
                    <head>
                                        <title>
                                                            <%= title %>
                                        </title>
                    </head>
                    <body>
                                        <h1>Hey this is my <%= title %></h1>
                                        <h2>use localhost/list/home to see my to do list</h2>
                                        
                                        
                    </body>
</html>